@import url("https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika+Negative:wght@300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #f3f3f3;
  font-family: "Bakbak One", cursive;
}

header {
  background-image: url("./Assets/Img/img2.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.h2o {
  font-family: "Josefin Sans", sans-serif;
}
.h2o span {
  color: rgb(13, 13, 121);
  text-shadow: 0 0 5px white;
}
header p {
  text-shadow: 0 0 10px black;
  font-family: "Signika Negative", sans-serif;
}
.myNav {
  z-index: 1000;
}
